<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addr" class="spring.Address">
        <property name="privence" value="湖南"></property>
        <property name="city" value="郴州"></property>
    </bean>

    <bean id="s" class="spring.Student">
        <property name="id" value="01"></property>
        <property name="name" value="匡子"></property>
        <property name="address" ref="addr"></property>

    </bean>
</beans>

